.about-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 91vh;
    /* align-content: center; */
}

.about-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}

.about-title {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    width: 100vw;
    font-size: 36px;
    font-family: 'Ramaraja';
}

.about-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* align-content: center; */
}