.home-main {
    background-color: #F6F3E8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100vh;
  }

.home-row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
  @media screen and (width: 896px) {
    transition: 200ms;
    margin-bottom: 5em;
  }
}