.project-piece-item {
    margin-bottom: 3vw;
    position: relative; 
}

.project-piece-img-container {
    top: 0;
    left: 0;
    width: 27vw;
    height: 27vw;
    background-color: #eddec0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: .5em;
}

.project-piece-img {
    width: 16vw;
    height: 16vw;
}

.project-piece-img-description {
    top: 0;
    left: 0;
    width: 27vw !important;
    height: 27vw !important; 
    font-size: .9em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    opacity: 0;
    position: absolute;
    padding: .5em;
    overflow: scroll;
}


.project-piece-img-description:hover {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    transition: 300ms;
    background-color: rgb(247, 232, 222);
    opacity: .85;
    position: absolute;
}