.projects-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 91vh;
    /* align-content: center; */
}

.projects-img-container {
    background-color: #eddec0;
    width: 25vw;
    height: 25vw;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border-radius: 50%;  */
    flex-wrap: wrap;
    flex-direction: row;
}

.projects-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* margin-bottom: 30px; */
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.projects-title {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    font-size: 36px;
    font-family: 'Ramaraja';
}

.projects-gallery {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.projects-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content:flex-start; */
    
}

.projects-img-description {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 25vw;
    line-height: 2;
}

.projects-img {
    width: 16vw;
    height: 16vw;
}

/* .projects-img-description-title {
    font-size: 20px;
    margin-top: 18px;
    font-size: 24px;
} */