.projects-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    height: 95vh;
}

.projects-header {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects-title {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    font-size: 36px;
    font-family: 'Ramaraja';
}

.projects-gallery {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
}

.projects-item {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;    */
    position: relative; 
}

.projects-img-container {
    top: 0;
    left: 0;
    background-color: #eddec0;
    width: 25vw;
    height: 25vw;
    z-index: 1000;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
}

.projects-img {
    width: 16vw;
    height: 16vw;
    /* position: absolute; */
}

.projects-img-description {
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vw;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.projects-img-container:hover {
    top: 0;
    left: 0;
    z-index: 999;
    transition: 300ms;
    background-color: rgb(245, 231, 223);
    opacity: .20;
    position: absolute;
}