.projects-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 91vh;
    /* align-content: center; */
}

.projects-img-container {
    background-color: #eddec0;
    width: 400px;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    /* border-radius: 50%;  */
    flex-wrap: wrap;
    flex-direction: row;
    transition: transform 250ms;
}

.projects-img-container:hover {
    cursor: pointer;
    transform: translateY(-30px);
  }

.projects-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* margin-bottom: 30px; */
}

.projects-title {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    width: 100vw;
    font-size: 36px;
    font-family: 'Ramaraja';
}

.projects-gallery {
    width: 100vw;
    height: fit-content;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    overflow: scroll;
}